<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Tasks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Completed Tasks</h1>

        <div class="completed-tasks-container">
            {% for task in completed_todo_list %}
            <div class="task-shadow-box">
                <p>{{ task.task }}</p>
            </div>
            {% endfor %}
        </div>

        <a href="/" class="btn">Back to Home</a>
    </div>
</body>

</html>









